In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [3]:
# Import saved CSV file into a new dataframe
cities_weather_df = pd.read_csv("../output_data/cities.csv")
cities_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Atuona,-9.8000,-139.0333,77.36,67,14,17.63,PF,1627522010
1,George Town,5.4112,100.3354,79.90,90,20,2.30,MY,1627522011
2,Mataura,-46.1927,168.8643,57.47,72,55,4.94,NZ,1627521773
3,Lebu,-37.6167,-73.6500,49.24,79,0,8.01,CL,1627522011
4,Pangkalanbuun,-2.6833,111.6167,82.04,76,30,4.85,ID,1627522012
...,...,...,...,...,...,...,...,...,...
555,Sayansk,54.1088,102.1648,57.79,81,100,13.38,RU,1627522176
556,Kupang,-10.1667,123.5833,83.53,58,0,11.68,ID,1627522177
557,Paralímni,35.0375,33.9833,87.12,42,0,8.01,CY,1627522177
558,Beringovskiy,63.0500,179.3167,48.16,72,100,16.91,RU,1627522177
559,Toora-Khem,52.4675,96.1100,54.16,83,100,3.58,RU,1627522178